// colors 
$primary-c: #563acc;
$secondary-c: #d8c6ff;
$text-c: #1a1a1a;
$text-sec-c: #000000b3;
$link-c: #3a3a3a;

:root{
    --primary-100: #F8F8FF;
    --primary-100-transparent: #F8F8FF00;
    --primary-200: #F4EFFF;
    --primary-300: #F1DDFF;
    --primary-400: #ADA7F5;
    --primary-700: #3422F2;
    --primary-800: #2111C5;
    --primary-1000: #09043B;
    --neutrals-100: #fff;
    --neutrals-200: #F5F5F7;
    --neutrals-300: #D9D9D9;
    --neutrals-400: #BFBFBF;
    --neutrals-500: #898989;
    --neutrals-700: #525252;
    --error-200: #FF9275;
    --error-300: #FF4615;
    --warning-500: #FF7C1A;
}

// roundness
:root{
    --round-4: 0.4rem;
    --round-8: 0.8rem;
    --round-12: 1.2rem;
    --round-16: 1.6rem;
    --round-full: 100rem;
}

// spacings
$spacing-none: 0.0000rem;
$spacing-4: 0.4000rem;
$spacing-8: 0.8000rem;
$spacing-80: 8.0000rem;
$spacing-16: 1.6000rem;
$spacing-20: 2.0000rem;
$spacing-28: 2.8000rem;
$spacing-40: 4.0000rem;
$spacing-1: 0.1000rem;
$spacing-2: 0.2000rem;
$spacing-160: 16.0000rem;

// effects
/* Effect Styles  */
.soft-shadows-1 {
box-shadow: 0.0000rem 0.0000rem 0.0000rem 0rem rgba(27, 28, 29, 0);
}

.soft-shadows-2 {
box-shadow: 0.0000rem 0.4000rem 1.6000rem 0rem rgba(0, 0, 0, 0.04);
}

.soft-shadows-3 {
box-shadow: 0.0000rem 0.2000rem 0.4000rem 0rem rgba(27, 28, 29, 0.04);
}

.soft-shadows-4 {
box-shadow: 0.0000rem 1.6000rem 3.2000rem -1.2000rem rgba(88, 92, 95, 0.1);
}

.elevation-light-1 {
box-shadow: 0.0000rem 0.1000rem 0.3000rem 0.1000rem rgba(0, 0, 0, 0.15), 0.0000rem 0.1000rem 0.2000rem 0rem rgba(0, 0, 0, 0.3);
}

.elevation-light-2 {
box-shadow: 0.0000rem 0.2000rem 0.6000rem 0.2000rem rgba(0, 0, 0, 0.15), 0.0000rem 0.1000rem 0.2000rem 0rem rgba(0, 0, 0, 0.3);
}

.elevation-light-3 {
box-shadow: 0.0000rem 0.1000rem 0.3000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.4000rem 0.8000rem 0.3000rem rgba(0, 0, 0, 0.15);
}

.elevation-light-4 {
box-shadow: 0.0000rem 0.2000rem 0.3000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.6000rem 1.0000rem 0.4000rem rgba(0, 0, 0, 0.15);
}

.elevation-light-5 {
box-shadow: 0.0000rem 0.4000rem 0.4000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.8000rem 1.2000rem 0.6000rem rgba(0, 0, 0, 0.15);
}

.elevation-dark-1 {
box-shadow: 0.0000rem 0.1000rem 0.2000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.1000rem 0.3000rem 0.1000rem rgba(0, 0, 0, 0.15);
}

.elevation-dark-2 {
box-shadow: 0.0000rem 0.1000rem 0.2000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.2000rem 0.6000rem 0.2000rem rgba(0, 0, 0, 0.15);
}

.elevation-dark-3 {
box-shadow: 0.0000rem 0.1000rem 0.3000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.4000rem 0.8000rem 0.3000rem rgba(0, 0, 0, 0.15);
}

.elevation-dark-4 {
box-shadow: 0.0000rem 0.2000rem 0.3000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.6000rem 1.0000rem 0.4000rem rgba(0, 0, 0, 0.15);
}

.elevation-dark-5 {
box-shadow: 0.0000rem 0.4000rem 0.4000rem 0rem rgba(0, 0, 0, 0.3), 0.0000rem 0.8000rem 1.2000rem 0.6000rem rgba(0, 0, 0, 0.15);
}  

// typography
@font-face {
    font-family: "Cy Grotesk";
    src: url('../fonts/CyGrotesk-KeyRegular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Cy Grotesk";
    src: url('../fonts/CyGrotesk-KeyMedium.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
font-family: "Cy Grotesk";
src: url('../fonts/CyGrotesk-KeyBold.otf') format("opentype");
font-weight: 700;
font-style: normal;
font-display: block;
}


/* Text Styles  */
.display-large {
    font-family: "Cy Grotesk", sans-serif;
    font-size: 5.7000rem;
    line-height: 6.4000rem;
    letter-spacing: -0.0250px;
    font-weight: 700;
    @media screen and (max-width: 1024px) {
    font-size: 3.6000rem;
    line-height: 4.4000rem;
    }
}

.display-medium {
    font-size: 4.5rem;
    font-family: "Cy Grotesk", sans-serif;
    line-height: 5.2000rem;
    letter-spacing: 0.0000px;
    font-weight: 700;
    @media screen and (max-width: 1024px) {
    font-size: 3.2rem;
    line-height: 4.0000rem;
    }
}

.display-small {
    font-size: 3.6rem;
    font-family: "Cy Grotesk", sans-serif;
    line-height: 4.4000rem;
    letter-spacing: 0.0000px;
    font-weight: 700;
    @media screen and (max-width: 1024px) {
    line-height: 3.6000rem;
    }
}

.headline-large {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 4.0000rem;
    letter-spacing: 0.0000px;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
    font-size: 2.4rem;
    line-height: 3.2000rem;
    }
}

.headline-medium {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 3.6000rem;
    letter-spacing: 0.0000px;
    font-weight: 400;
}

.headline-small {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 3.2000rem;
    letter-spacing: 0.0000px;
    font-weight: 400;
}

.title-large {
    font-size: 2.2rem;
    font-family: "Cy Grotesk", sans-serif;
    line-height: 2.8000rem;
    letter-spacing: 0.0000px;
    font-weight: 700;
    @media screen and (max-width: 1024px) {
    font-size: 1.8rem;
    line-height: 2.4000rem;
    }
}

.title-medium {
    font-size: 1.6rem;
    font-family: "Cy Grotesk", sans-serif;
    line-height: 2.4000rem;
    letter-spacing: 0.0150px;
    font-weight: 500;
    @media screen and (max-width: 1024px) {
        font-size: 1.6rem;
        line-height: 2.4000rem;
        letter-spacing: 0.150px;
    }
}

.title-small {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 2.0000rem;
    letter-spacing: 0.0100px;
    font-weight: 700;
}

.body-large {
    font-size: 1.6rem;
    font-family: "Cy Grotesk", sans-serif;
    line-height: 2.4000rem;
    letter-spacing: 0.0500px;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
    font-size: 1.6rem;
    line-height: 2.4000rem;
    }
}

.body-medium {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 2.0000rem;
    letter-spacing: 0.0250px;
    font-weight: 400;
    font-size: 1.4rem;
}

.body-small {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 1.6000rem;
    letter-spacing: 0.400px;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
        line-height: 1.6000rem;
    }
}

.label-large---prominent {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 2.0000rem;
    letter-spacing: 0.0100px;
    font-weight: 400;
}

.label-large {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 2.0000rem;
    letter-spacing: 0.0100px;
    font-weight: 500;
    font-size: 1.4rem;
    @media screen and (max-width: 1024px) {
        font-size: 1.4rem;
    }
}

.label-medium---prominent {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 1.6000rem;
    letter-spacing: 0.0500px;
    font-weight: 400;
}

.label-medium {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 1.6000rem;
    letter-spacing: 0.0500px;
    font-weight: 500;
    font-size: 1.2rem;
    @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
    }
}

.label-small {
    font-family: "Cy Grotesk", sans-serif;
    line-height: 1.6000rem;
    letter-spacing: 0.0500px;
    font-weight: 400;
}

$display-large-size-desktop: 5.7000rem;
$display-large-size-mobile: 3.6000rem;
$display-large-line-height-desktop: 6.4000rem;
$display-large-line-height-mobile: 4.4000rem;
$display-large-tracking-desktop: -0.0250rem;
$display-large-tracking-mobile: -0.0250rem;
$display-medium-size-desktop: 4.5000rem;
$display-medium-size-mobile: 3.2000rem;
$display-medium-line-height-desktop: 5.2000rem;
$display-medium-line-height-mobile: 4.0000rem;
$display-medium-tracking-desktop: 0.0000rem;
$display-medium-tracking-mobile: 0.0000rem;
$display-small-size-desktop: 3.6000rem;
$display-small-size-mobile: 2.8000rem;
$display-small-line-height-desktop: 4.4000rem;
$display-small-line-height-mobile: 3.6000rem;
$display-small-tracking-desktop: 0.0000rem;
$display-small-tracking-mobile: 0.0000rem;
$headline-large-size-desktop: 3.2000rem;
$headline-large-size-mobile: 2.4000rem;
$headline-large-line-height-desktop: 4.0000rem;
$headline-large-line-height-mobile: 3.2000rem;
$headline-large-tracking-desktop: 0.0000rem;
$headline-large-tracking-mobile: 0.0000rem;
$headline-medium-size-desktop: 2.8000rem;
$headline-medium-size-mobile: 2.2000rem;
$headline-medium-line-height-desktop: 3.6000rem;
$headline-medium-line-height-mobile: 2.8000rem;
$headline-medium-tracking-desktop: 0.0000rem;
$headline-medium-tracking-mobile: 0.0000rem;
$headline-small-size-desktop: 2.4000rem;
$headline-small-size-mobile: 2.0000rem;
$headline-small-line-height-desktop: 3.2000rem;
$headline-small-line-height-mobile: 2.6000rem;
$headline-small-tracking-desktop: 0.0000rem;
$headline-small-tracking-mobile: 0.0000rem;
$title-large-size-desktop: 2.2000rem;
$title-large-size-mobile: 1.8000rem;
$title-large-line-height-desktop: 2.8000rem;
$title-large-line-height-mobile: 2.4000rem;
$title-large-tracking-desktop: 0.0000rem;
$title-large-tracking-mobile: 0.0000rem;
$title-medium-size-desktop: 1.6000rem;
$title-medium-size-mobile: 1.6000rem;
$title-medium-line-height-desktop: 2.4000rem;
$title-medium-line-height-mobile: 2.4000rem;
$title-medium-tracking-desktop: 0.0150rem;
$title-medium-tracking-mobile: 0.0150rem;
$title-small-size-desktop: 1.4000rem;
$title-small-size-mobile: 1.4000rem;
$title-small-line-height-desktop: 2.0000rem;
$title-small-line-height-mobile: 2.0000rem;
$title-small-tracking-desktop: 0.0100rem;
$title-small-tracking-mobile: 0.0100rem;
$body-large-size-desktop: 1.6000rem;
$body-large-size-mobile: 1.6000rem;
$body-large-line-height-desktop: 2.4000rem;
$body-large-line-height-mobile: 2.4000rem;
$body-large-tracking-desktop: 0.0500rem;
$body-large-tracking-mobile: 0.0500rem;
$body-medium-size-desktop: 1.4000rem;
$body-medium-size-mobile: 1.4000rem;
$body-medium-line-height-desktop: 2.0000rem;
$body-medium-line-height-mobile: 2.0000rem;
$body-medium-tracking-desktop: 0.0250rem;
$body-medium-tracking-mobile: 0.0250rem;
$body-small-size-desktop: 1.2000rem;
$body-small-size-mobile: 1.2000rem;
$body-small-line-height-desktop: 1.6000rem;
$body-small-line-height-mobile: 1.6000rem;
$body-small-tracking-desktop: 0.0400rem;
$body-small-tracking-mobile: 0.0400rem;
$label-large-size-desktop: 1.4000rem;
$label-large-size-mobile: 1.4000rem;
$label-large-line-height-desktop: 2.0000rem;
$label-large-line-height-mobile: 2.0000rem;
$label-large-tracking-desktop: 0.0100rem;
$label-large-tracking-mobile: 0.0100rem;
$label-medium-size-desktop: 1.2000rem;
$label-medium-size-mobile: 1.2000rem;
$label-medium-line-height-desktop: 1.6000rem;
$label-medium-line-height-mobile: 1.6000rem;
$label-medium-tracking-desktop: 0.0500rem;
$label-medium-tracking-mobile: 0.0500rem;
$label-small-size-desktop: 1.1000rem;
$label-small-size-mobile: 1.1000rem;
$label-small-line-height-desktop: 1.6000rem;
$label-small-line-height-mobile: 1.6000rem;
$label-small-tracking-desktop: 0.0500rem;
$label-small-tracking-mobile: 0.0500rem;