@use 'tokens';

html {
    // font-size: calc(10px + 0.3vw);
    font-size: 10px;
}


body {
    background-color: #F8F8FF;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Cy Grotesk', sans-serif;
    overflow-x: hidden;
    * {
        box-sizing: border-box;
    }
}

.container {
    max-width: 112rem;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    @media screen and (max-width: 1280px) {
        padding: 0 1.6rem; 
    }
}

@media screen and (max-width: 1024px) {
.mobile--hide {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) {
.desktop--hide {
        display: none !important;
    }
}

.img-wrap {
    overflow: hidden; /* Обрізає вихідні частини зображення */
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
    }
    &--contain img {
        object-fit: contain;
    }
    &--cover img {
        object-fit: cover;
    }
}
  
.card {
    background-color: var(--neutrals-100);
    padding: 1.6rem;
    border-radius: var(--round-16);
    box-shadow: 0px 4px 16px 0px #0000000F;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 0.925rem;
    border-radius: var(--round-full);
    text-decoration: none;
    cursor: pointer;
    > a {
        text-decoration: none;
        color: var(--primary-100);
    }
    p {
        margin: 0;
        text-decoration: none;
    }
    &--primary {
        color: var(--primary-100);
        background-color: var(--primary-700);   
    }
    &--primary-dark {
        color: var(--primary-100);
        background-color: var(--primary-1000);   
    }
    &--transparent {
        &--red {
            color: var(--error-300);
        }
        &--primary-dark {
            color: var(--primary-1000);
        }
    }
    &--full-width {
        width: 100%;
    }
    &--back {
        justify-content: start;
        padding-left: 0;
    }
}

.btn--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-1000);
    border-radius: var(--round-full);
    height: 3.6rem;
    width: 3.6rem;
    &-light {
        background-color: var(--primary-700);
    }
}

.tag {
    border-radius: var(--round-8);
    background-color: var(--primary-200);
    color: var(--primary-800);
    padding: 0.8rem 1.6rem;
    border: 1px solid var(--primary-300);
    flex-shrink: 0;
    font-family: "Cy Grotesk", sans-serif;
    line-height: 1.6000rem;
    letter-spacing: 0.0500px;
    font-weight: 500;
    font-size: 1.2rem;
}
.tag--active {
    border: none;
    background-color: var(--primary-800);
    color: var(--neutrals-100);
}