@use 'tokens';

html {
    // font-size: calc(10px + 0.3vw);
    font-size: 10px;
}


body {
    background-color: #F8F8FF;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Cy Grotesk', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    max-width: 112rem;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    @media screen and (max-width: 1280px) {
        padding: 0 1.6rem; 
    }
}

.img-wrap {
    overflow: hidden; /* Обрізає вихідні частини зображення */
    display: flex;
    align-items: center;
    justify-content: center;
    &--contain img {
        object-fit: contain;
    }
    &--cover img {
        object-fit: cover;
    }
}
  